<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.cookbook">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.RecipePostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RatingReviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ListFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FoodByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="false" />
    </application>

</manifest>